:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Outfit", sans-serif;
  background-color: var(--Stone-100);
  color: var(--Stone-900);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

h1,
h2 {
  font-family: "Young Serif", sans-serif;
}

h1 {
  font-size: clamp(2.05rem, 1.88rem + 1.67vw, 2.5rem);
  font-weight: 400;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  place-items: center;
}

.bg__accent--white {
  background: var(--White);
  color: var(--Stone-600);
}

.preparation-time-table {
  background: var(--Rose-50);
  padding: 1.5em;
  border-radius: 0.5rem;
}
.recipe-content {
  padding: 2.5em 2em;
}

.title {
  color: var(--Stone-900);
  text-wrap: stable;
  margin-bottom: 0.60em;
}

.description {
  font-size: 1rem;
  margin-bottom: 2em;
}

.list-item {
  margin-bottom: 0.5em;
  padding-left: 1.6em;
}

.ingredients-table,
.instructions-table {
  padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 0.75px solid var(--Stone-150);
}

.preparation-time-title,
.ingredients-title,
.instructions-title,
.nutrition-title {
  color: var(--Rose-800);
}

ul,
ol {
  padding-left: 1.25em;
  margin: 0;
}

.nutrition-table-content {
  width: 100%;
  border-collapse: collapse;
}

.nutrition-table-content tr {
  border-bottom: 1px solid var(--Stone-150);
}

.nutrition-table-content tr:last-of-type {
  border-bottom: none;
}

.nutrition-table-content td {
  padding: 0.5em;
  font-size: 0.9rem;
}

.nutrition-table-content .table-data {
  text-align: left;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 2em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  
  .recipe-page-article {
    padding: 2.5em;
    width: 92%;
    max-width: 736px;
    border-radius: 1.5rem;
}
  .recipe-page {
    padding: 8em 3em;
    background-color: var(--Stone-100);
  }

  .recipe-content {
    padding-inline: 0;
    padding-bottom: 0;
  }
  .description {
    font-size: 1rem;
  }
  
  .nutrition-table-content td {
    font-size: 1rem;
  }
}
